# Indica que este é o arquivo de configuração raiz para este projeto
root = true

# Configurações para todos os arquivos (*)
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# Você pode especificar exceções se necessário
[*.sh]
end_of_line = lf

[{pre-commit,commit-msg}]
end_of_line = lf

